@import "tailwindcss";

*,
*::before,
*::after {
  font-family: "Questrial", sans-serif;
}

body {
  font-family: "Questrial", sans-serif;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font-family: "Questrial", sans-serif;
}
