.form-field {
  margin-bottom: var(--space-md);
}

.form-field:last-child {
  margin-bottom: 0;
}

.input,
.textarea,
.select {
  display: block;
  width: 100%;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

.input-error {
  border-color: var(--color-danger);
}

.input-error:focus {
  box-shadow: 0 0 0 3px var(--color-danger-light);
}

.field-error {
  display: block;
  margin-top: var(--space-xs);
  font-size: 0.875rem;
  color: var(--color-danger);
}
